@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #FDFBF7;
    --foreground: #1A1C1E;
    --accent: #C19A6B;
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
    @apply antialiased;
  }
}

@layer utilities {
  .text-shadow-lux {
    text-shadow: 0 10px 30px rgba(0,0,0,0.1);
  }
}
